<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OmulOmul - 재난대처교육플랫폼</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments.css}" rel="stylesheet">
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragment/mainHeader :: header}"></div>
    <div class="main-container">
        <div class="result-container">
            <div th:each="result : ${resultList}" class="result-card" >
                <div class="card-left">
                    <img th:src="@{/img/{image}(image=${result.getScore() >= 60} ? 'veryGood.jpg' : 'retry.jpg')}" />
                </div>
                <div class="card-right">
                    <div class="card-right-text">
                        <p class="result-score" th:text="${'점수 : ' + result.getScore()}">
                        </p>
                        <p class="result-evaluation" th:text="${'전체 평가 : ' + result.getCause()}"></p>
                    </div>
                    <button th:index="${result.getResultNo()}" class="certificateBtn">수료증 다운로드</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragment/mainFooter :: footer}"></div>
</body>
<script th:src="@{/js/mypage.js}"></script>
</html>